- for dan sonra birden fazla değişken yazılabilir eğer iterable buna uygun ise...

In [2]:
#alp 
kosul=True
while kosul:
    print("while calisti")
    kosul=False

while calisti

In [1]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age" : 35
}

for attribute in user:    # key'ler dolanır.
    print(attribute)

name
surname
age

In [14]:
#alp
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age" : 35
}
for key,value in user.items():
    print(key,value)

name Daniel
surname Smith
age 35

In [5]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age" : 35
}
for i in user.values():
    print(i, end=" ")

Daniel Smith 35

In [6]:
for i in "abc":    # kullanılan değişken burada i döngü içinde kullanılması zorunlu değildir.
    print("hello")

hello
hello
hello

In [15]:
#alp
for i in "uıtd":
    print("alp deneme")

alp deneme
alp deneme
alp deneme
alp deneme

In [7]:
user = {
    "name": "Daniel",
    "surname": "Smith",
    "age" : 35
}
for key, value in user.items():    # key,value olarak iki değişken kullanılabilir.
    print(key, ":", value)

name : Daniel
surname : Smith
age : 35

In [12]:
test = [(1,2), (3,4), (5,6)]

In [13]:
for i, j in test:
    print(i, j)

1 2
3 4
5 6

In [17]:
#alp
tst=[(1,2),(4,8),(56,89),(55,45)]
for i,j in tst:
    print(i,j)

1 2
4 8
56 89
55 45

In [14]:
test2 = [(1,2,11), (3,4,22), (5,6,33)]

In [16]:
for i, j, t in test2 :    # aslında sırasıyla atama yapıyor döngüde o değerler ile dönüyor.
    print(i, j, t)

1 2 11
3 4 22
5 6 33

In [17]:
for i in test2 :
    print(i)

(1, 2, 11)
(3, 4, 22)
(5, 6, 33)

In [19]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times):
    print('I love you')

How many times should I say 'I love you'3
I love you
I love you
I love you

In [21]:
a = int(input("Enter your number"))

for i in range(11):
    k = a * i
    print(a, "x", i, " = ", k)

Enter your number5
5 x 0  =  0
5 x 1  =  5
5 x 2  =  10
5 x 3  =  15
5 x 4  =  20
5 x 5  =  25
5 x 6  =  30
5 x 7  =  35
5 x 8  =  40
5 x 9  =  45
5 x 10  =  50

In [23]:
number = int(input("Enter a number between 1-9 :"))

for i in range(11):    # range(start,strop,step)
    print(f"{number}x{i} = {number * i}")

Enter a number between 1-9 :8
8x0 = 0
8x1 = 8
8x2 = 16
8x3 = 24
8x4 = 32
8x5 = 40
8x6 = 48
8x7 = 56
8x8 = 64
8x9 = 72
8x10 = 80

In [26]:
print(range(10, 1))

range(10, 1)

In [27]:
print(*range(10, 1, -1))   # * iterate işareti. görünür hale getiriyor.

10 9 8 7 6 5 4 3 2

In [28]:
print(* "joseph")  # * iterate ediyor parçalıyor.

j o s e p h

In [18]:
#alp
print(*"merhaba yeni dünya")

m e r h a b a   y e n i   d ü n y a

In [23]:
#alp
print("tersten yazdirma"[::-1])

amridzay netsret

In [35]:
for i in range(10):       # benim çözümüm...
    for j in range(i):
        print(i, end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [36]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [37]:
b = list(range(10))
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list(range(11))   # range fonksiyonunu list tuple veya sete dönüştürebiliriz.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
#alp

x=list(range(11))
print(type(x))

y=tuple(x)

print(type(y))

<class 'list'>
<class 'tuple'>

In [39]:
tuple(range(11))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [41]:
set(range(11))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [46]:
#alp
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
print(* range(11))

0 1 2 3 4 5 6 7 8 9 10

In [52]:
print(range(11))   # kullanışlı bir çıktı örneği değil

range(0, 11)

In [50]:
print(* range(49, 75, 3))

49 52 55 58 61 64 67 70 73

In [44]:
print(* range(10, 0, -2))

10 8 6 4 2

In [46]:
text = ["one", "two", "three", "four", "five"]
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):          # zip fonksiyonu eşit eleman sayısındaki listeleri birleştirir.
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [48]:
text1 = ("one", "two", "three", "four", "five")
numbers1 = (1, 2, 3, 4, 5)
for x, y in zip(text1, numbers1):          # zip fonksiyonu eşit eleman sayısındaki başka türleride birleştirebiliyormuş.
    print(x, ':', y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [49]:
text1 = ("one", "two", "three", "four", "five")
numbers1 = (1, 2, 3, 4, 5)
zipped = zip(text1, numbers1)    # adresini gösterir. yazdırmak istersek * veya for döngüsü kullanılabilir.
zipped

In [50]:
# zip index numaralarına göre eşleştirir ve tuple yapar.
print(* zipped)

('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

In [52]:
list(zipped)   # zip object bir iterator oluştuyor ve tekrar doldurmak gerekiyor tek kullanımlık.

[]

In [53]:
print(* zipped)

In [54]:
zipped = zip(text1, numbers1)

In [55]:
list(zipped)   # tekrar tanımlayınca çalışıyor. tek kullanılık...

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [57]:
zipped = zip(text1, numbers1)
for x, y in zipped :
    print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [58]:
list(zipped)   # tekrar zip fonksiyonu kullanılarak tanımlanmazsa çıktı vermez...

[]

In [59]:
zipped = zip(text1, numbers1)

In [60]:
dict(zipped)   # direk dict' e dönüştürebiliyor...

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [62]:
text2 = ("one", "two", "three", "four", "five")
numbers2 = (1, 2, 3)
num3 = (4, 5, 6, 7)
a = zip(text2, numbers2, num3)
print(* a)

('one', 1, 4) ('two', 2, 5) ('three', 3, 6)

In [66]:
evens = []    # benim çözüm...
odds = []
for i in range(11):
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)
print(f"evens : {evens}")
print(f"odds : {odds}")

evens : [0, 2, 4, 6, 8, 10]
odds : [1, 3, 5, 7, 9]

In [68]:
print("odds: ", list(range(0, 11, 2)))
print("evens: ", list(range(1, 11, 2)))

odds:  [0, 2, 4, 6, 8, 10]
evens:  [1, 3, 5, 7, 9]

In [69]:
evens = []    # hocanın çözüm...
odds = []
for i in range(11):
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)
print("evens :", evens)
print("odds :", odds)

evens : [0, 2, 4, 6, 8, 10]
odds : [1, 3, 5, 7, 9]

In [72]:
example_list = [11, 2, 24, 61, 48, 33, 3]     # benim çözüm...
evens = [] 
odds = []
for i in example_list :
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)

print("The number of even numbers: ", len(evens))
print("The number of odd numbers:", len(odds))

The number of even numbers:  3
The number of odd numbers: 4

In [73]:
example_list = [11, 2, 24, 61, 48, 33, 3]     # diğer çözümüm...
counter_odds = 0
counter_evens = 0
for i in example_list :
    if i % 2 == 0:
        counter_evens += 1
    else:
        counter_odds += 1

print("The number of even numbers: ", counter_evens)
print("The number of odd numbers:", counter_odds)

The number of even numbers:  3
The number of odd numbers: 4

In [77]:
numbers = [11, 36, 33, 66, 89, 21, 32, 16, 10]           # hocanın çözümü 
evens = 0                                                # sayaçla yaparsak daha az bellek kullanmış oluruz. listeye göre.
odds = 0

for i in numbers :
    
    if i % 2 == 0 :
        evens += 1
    else:
        odds += 1
print("Evens count: ", evens)
print("Odds count:", odds)

Evens count:  5
Odds count: 4

In [79]:
a = 0                                # benim çözüm...
for i in range(1, 75) : 
    a += i
    
print(a)

2775

*********** Nested for Loop ***********

for variable1 in iterable1:
    for variable2 in iterable2:
        body

In [82]:
who = ["I am ", "You are "]
mood = ["happy", "confident"]

for i in who:                # i geliyor içteki for döngüsü bitene kadar devam ediyor içteki bitince değer değiştiriyor.
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [84]:
names = ["susan", "tom", "edward"]       # benim çözüm...
mood = ["happy", "sad"]
for i in names :
    for j in mood:
        print(i + " is " + j)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [88]:
names = ["susan", "tom", "edward"]       # bu da 3lü for döngüsü...
mood = ["happy", "sad"]
be = [" is "]

for i in names :
    for j in be:
        for k in mood:
            print(i + j + k)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [89]:
tuple(range(1, 8))

(1, 2, 3, 4, 5, 6, 7)

In [90]:
mon, tue, wed, thu, fri, sat, sun = tuple(range(1, 8))

In [91]:
mon

1

In [92]:
fri

5

In [93]:
[1, 2, 4] + ["ali", "veli"]   # listede toplama : baştaki listenin sonuna eklenir.

[1, 2, 4, 'ali', 'veli']

In [ ]:
a, b = (10, 20, 30, 40)   # 10 u a ya 30 u b ye atama yapmak için ( bu hata verir... doğrusu altta)

In [94]:
a, _, b, _ = (10, 20, 30, 40)   # place holder _ bir yer tutuyor, indexlerle uğraşmamak için mükemmel çözüm

In [95]:
a

10

In [96]:
b

30

In [97]:
x, y, *z = (11, 22, 33, 44, 55)   # x=11 y=22 z ise kalanları alır. * çoğullluk ifade ediyor.

In [98]:
z   # * ile atama yapılırsa liste sonucu verir!!!!!!!!

[33, 44, 55]

In [99]:
x, y, *_ = (11, 22, 33, 44, 55)  # *_ kalanları al gibi düşünülebilir...

In [100]:
x, *_, y = (11, 22, 33, 44, 55)  # _ print edilirse çıktı verir ama hafızada fazla yer kaplanmaması için kullanışlı.
print(x)
print(y)

11
55

In [101]:
x, y, *z , t= (11, 22, 33, 44, 55, 66, 77)
print(x)
print(y)
print(z)
print(t)

11
22
[33, 44, 55, 66]
77