- Tuple için virgül koyabiliriz sonuna. Stringleri parantezsiz yazarsak da kabul edilir. List ve Tuple iterable'dır birbirine dönüştürülebilir.
- tuple yapısına öğe eklenemez; list yapısındaki append() metodu yoktur.
- tuple yapısında öğe atılamaz; list yapısındaki remove() ve pop() metotları yoktur.
- tuple içinde bir öğe aranamaz ; list yapısındaki index() metodu yoktur.
- Döngüler tuple’da list yapısına göre daha hızlıdır.
- Değişmeyecek veriler için tuple yapısı list yapısına göre daha uygun seçimdir.
- Değişmezliği nedeniyle tuple, dictionary yapısı için anahtar kelimeler olarak kullanılabilir.
- Tuple string dönüşümü için kullanabilir.
- Tuple yapısından list yapısına ve list yapısından tuple yapısına rahatlıkla dönüşüm yapılabilir
- some of the immutable data tyes: int,float,decimal,bool,string,tuple and range
- tuple içinde değiştirebilen eleman varsa o değiştirilebilir örn liste
- hangi veriyi slice yapıyorsak cevap o veri tipidir.

Dictionaries
- {key1 : value1, key2 : value2} key+value = item denir. 
- dict() or {} for creating a dict. dict() kullanılıyorsa key'ler değişken ismi belirler gibi belirlenir.
- iterable'dır.
- Dictionary'ler, veri değerlerini key: value çiftlerinde depolamak için kullanılır.
- (Dictionaries are used to store data values in key:value pairs.)
- Dictionary sıralı (ordered), değiştirilebilir ve duplicate'lere (tekrarlara) izin vermeyen bir collectiondır.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates. 
- listeler key olarak kullanılamaz. Mutable olduğundan dolayı değiştirebileceğinden kullanılamaz.
- dict. ler key olarak kullanılamaz.
- value olarak tüm veri tipleri kullanılabilir.
- Farklı sıralama döndürebilir.

In [1]:
my_tuple = (1, 4, 3, 4, 5, 6, 7, 4)
my_list = list(my_tuple)
print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [3]:
my_t = tuple(range(1,11))
my_t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
list_my = list(my_t)
list_my

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list_my[2] = 33
list_my

[1, 2, 33, 4, 5, 6, 7, 8, 9, 10]

In [6]:
my_t = tuple(list_my)
my_t

(1, 2, 33, 4, 5, 6, 7, 8, 9, 10)

In [7]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
print(type(mix_tuple[2]))
print(type(mix_tuple[3]))

<class 'list'>
<class 'tuple'>

In [8]:
mix_tuple[2].append(False)
mix_tuple

('11', 11, [2, 'two', ('six', 6), False], (5, 'fair'))

In [10]:
print(mix_tuple[2][2][0].upper())
mix_tuple

SIX

('11', 11, [2, 'two', ('six', 6), False], (5, 'fair'))

In [12]:
mix_tuple[2][1] = "TWO"

In [13]:
mix_tuple

('11', 11, [2, 'TWO', ('six', 6), False], (5, 'fair'))

In [14]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
str_six = mix_tuple[2][1:3]
print(str_six, type(str_six), sep="\n")

['two', ('six', 6)]
<class 'list'>

In [16]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, "fair"))
print(mix_tuple[-1][1], type(mix_tuple[-1][1]))

fair <class 'str'>

# Dictionary

Accessing Elements from Dictionary
- While indexing is used with other data types to access values, a dictionary uses keys. Keys can be used either inside square brackets [] or with the get() method.
- If we use the square brackets [], KeyError is raised in case a key is not found in the dictionary. On the other hand, the get() method returns None if the key is not found.
Changing and Adding Dictionary elements
- Dictionaries are mutable. We can add new items or change the value of existing items using an assignment operator.
- If the key is already present, then the existing value gets updated. In case the key is not present, a new (key: value) pair is added to the dictionary.
- Removing elements from Dictionary
- We can remove a particular item in a dictionary by using the pop() method. This method removes an item with the provided key and returns the value.
- The popitem() method can be used to remove and return an arbitrary (key, value) item pair from the dictionary. All the items can be removed at once, using the clear() method.
- We can also use the del keyword to remove individual items or the entire dictionary itself.

In [18]:
grocer1 = {"fruit" : "apple", "drink" : "water"}
grocer2 = dict(fruit = "apple", drink = "water")
print(grocer1)
print(grocer2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [19]:
first_dict = {1 : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1, 2) : "clarusway"}
first_dict

{1: 'one',
 'two': 2,
 False: [1, 2, 3],
 1.5: ('one', 'two'),
 (1, 2): 'clarusway'}

In [20]:
second_dict = {[1,2] : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1, 2) : "clarusway"}

TypeError: unhashable type: 'list'

In [21]:
third_dict = {{1 : 2} : "one", "two" : 2, False : [1, 2, 3], 1.5 : ("one", "two"), (1, 2) : "clarusway"}

TypeError: unhashable type: 'dict'

In [26]:
a = {"ali" : 7 , "ali" : 3, "deli" : 4, "ali" : 1} # 2aynı key varsa bir tanesini alır. En son atananı seçer.
a

{'ali': 1, 'deli': 4}

In [23]:
dict(1 = "bir")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-23-a23ea9010611>, line 1)

In [27]:
{1 : "bir"}

{1: 'bir'}

In [28]:
dict(isim = "ali veli deli")

{'isim': 'ali veli deli'}

In [29]:
dict(isim = "ali", isim = "deli")  # dict ile atama yapılırken aynı key kullanılamaz.

SyntaxError: keyword argument repeated (<ipython-input-29-9a6df282656f>, line 1)

In [31]:
dict(sayılar = [1, 2, 3], harfler = {1 : "bir"})  #dict kullanarak atama yapılıyorsa değişken ismi olarak key seçilmelidir.

{'sayılar': [1, 2, 3], 'harfler': {1: 'bir'}}

In [34]:
state_capitals = {"Arkansas" : "Little Rock",
                 "Colorado" : "Denver",
                  "California" : "Sacramento",
                 "Georgia" : "Atlanta"}
print(state_capitals["Colorado"])   # key yazıp value döndürülebilir.

Denver

In [35]:
first_dict["two"]

2

In [36]:
first_dict[1.5]

('one', 'two')

In [37]:
type(first_dict[1.5])

tuple

In [38]:
state_capitals["Virginia"] = "Richmond" #adding a new item
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [39]:
state_capitals["Arkansas"] = "Big Rock" #changing a value
print(state_capitals)

{'Arkansas': 'Big Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}

In [43]:
family = {"name_1" : "Carlos", "name_2" : "Joseph", "name_3" : "Tony" }
family

{'name_1': 'Carlos', 'name_2': 'Joseph', 'name_3': 'Tony'}

In [44]:
family["name_4"] = "Mike"
family

{'name_1': 'Carlos', 'name_2': 'Joseph', 'name_3': 'Tony', 'name_4': 'Mike'}

In [46]:
bi_örnek = {"ali" : 1, "deli" : 1, "veli" : 1}
bi_örnek

{'ali': 1, 'deli': 1, 'veli': 1}

In [47]:
bi_örnek["ali"] += 1  # bi_örnek["ali"] = bi_örnek["ali"] + 1
bi_örnek

{'ali': 2, 'deli': 1, 'veli': 1}

In [48]:
bi_örnek["deli"] += 1  # bi_örnek["ali"] = bi_örnek["ali"] + 1
bi_örnek

{'ali': 2, 'deli': 2, 'veli': 1}

In [52]:
city = ["Los Angeles", "Beirut", "Tokyo"]
city[1:] = "Seoul"
print(city)

['Los Angeles', 'S', 'e', 'o', 'u', 'l']

In [53]:
city = ["Los Angeles", "Beirut", "Tokyo"]
city[1:] = "Seoul", "aaaaa"
print(city)

['Los Angeles', 'Seoul', 'aaaaa']

In [58]:
city = ["Los Angeles", "Beirut", "Tokyo"]
city[1:3] = "Seoul", "qweqasd", "124123", "xczxc", "qwerhd", "y435q"
print(city)

['Los Angeles', 'Seoul', 'qweqasd', '124123', 'xczxc', 'qwerhd', 'y435q']

In [59]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
dict_by_dict[animal]

In [61]:
dict_by_dict["animal"]

'dog'

In [63]:
type(dict_by_dict["is_good"])

bool

In [65]:
dict_by_dict["is_good"]

True

In [64]:
family = dict(name_1 = "Ali", name_2 = "Veli", name_3 = "Deli")
family

{'name_1': 'Ali', 'name_2': 'Veli', 'name_3': 'Deli'}

In [66]:
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True}

In [67]:
dict_by_dict.update({"yasemin" : "kadın"})   #item ekleme
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'yasemin': 'kadın'}

In [68]:
dict_by_dict.items()  #bütün itemleri yazdırır

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True), ('yasemin', 'kadın')])

In [69]:
dict_by_dict.keys() #keys'leri yazdırır

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good', 'yasemin'])

In [70]:
dict_by_dict.values() # values ları yazdırır.

dict_values(['dog', 'neptun', 40, 3.14, True, 'kadın'])

In [74]:
dict_by_dict.update({"ahmet" : "ay", 11 : "integer"}) #update metodu ile birden fazla değişken aynı anda eklenebilir.
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'yasemin': 'kadın',
 'ahmet': 'ay',
 11: 'integer'}

In [75]:
list_1 = list(dict_by_dict.items())
list_1

[('animal', 'dog'),
 ('planet', 'neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True),
 ('yasemin', 'kadın'),
 ('ahmet', 'ay'),
 (11, 'integer')]

In [76]:
list_1[0]

('animal', 'dog')

In [77]:
type(list_1[0])

tuple

In [80]:
list_2 = tuple(dict_by_dict.keys())
print(list_2, type(list_2), sep = "\t")
print(list_2[0], type(list_2[0]), sep = "\t")

('animal', 'planet', 'number', 'pi', 'is_good', 'yasemin', 'ahmet', 11)	<class 'tuple'>
animal	<class 'str'>